.logoutButtonContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
  }
  
  .logoutButton {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .logoutButton:hover {
    background-color: #d32f2f;
  }

  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
  }

  .videoWrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }